.btn-primary{
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: #1677ff;
    color: white;
}


.btn-primary:hover{
    background: #1677ffa2;
    color: white;

}
